h1 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: magenta;
    margin-left: auto;
    margin-right: auto;
    width: 22em;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 22em;
}

table {
    color: darkcyan;
}

.results {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: red;
}
